In [1]:
import pandas as pd

In [54]:
## import the csv
df = pd.read_csv("data_raw/NLRB_filings.csv")

In [3]:
## Get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53784 entries, 0 to 53783
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      53784 non-null  object
 1   Case Number               53784 non-null  object
 2   City                      53780 non-null  object
 3   States & Territories      53784 non-null  object
 4   Date Filed                53784 non-null  object
 5   Region Assigned           53784 non-null  object
 6   Status                    53784 non-null  object
 7   Date Closed               52892 non-null  object
 8   Reason Closed             52848 non-null  object
 9   No. of Eligible Voters    30392 non-null  float64
 10  No. of Employees          53380 non-null  float64
 11  Certified Representative  20648 non-null  object
 12  Unit Sought               50162 non-null  object
dtypes: float64(2), object(11)
memory usage: 5.3+ MB

In [4]:
## Get beginning rows
df.head()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
0,"Martignetti Companies of Connecticut, LLC",01-RM-363455,Stratford,CT,04/10/2025,"Region 01, Boston, Massachusetts",Open,NaN,NaN,NaN,63.0,NaN,Included: Full-time and regular part-time driv...
1,"BUCKEYE STATE SEEDING, INC.",09-RC-363492,Williamsport,OH,04/10/2025,"Region 09, Cincinnati, Ohio",Open,NaN,NaN,NaN,2.0,NaN,Included: Administrative/clerical.\n\nExcluded...
2,"Westerly Ambulance Corps, Inc.",01-RC-363485,Westerly,RI,04/10/2025,"Region 01, Boston, Massachusetts",Open,NaN,NaN,NaN,16.0,NaN,"Included: All full-time, part-time, and per-di..."
3,Oldcastle BuildingEnvelope,04-RC-363490,Moorestown,NJ,04/10/2025,"Region 04, Philadelphia, Pennsylvania",Open,NaN,NaN,NaN,7.0,NaN,INCLUDED: All full-time and regular part-time ...
4,"Southern Home Care Services, Inc. d/b/a/ All W...",19-RM-363513,Missoula,MT,04/10/2025,"Region 19, Seattle, Washington",Open - Blocked,NaN,NaN,NaN,200.0,NaN,"Included: All full-time, regular part-time, an..."

In [5]:
## Get sample
df.sample()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
18241,"New Foundations Charter School, Inc.",04-RC-199928,Philadelphia,PA,06/02/2017,"Region 04, Philadelphia, Pennsylvania",Closed,01/03/2018,Certific. of Representative,51.0,53.0,Philadelphia Alliance of Charter School Employ...,Included Group A: All full-time and regular pa...

In [6]:
# Filter rows by RC to get only union filing petitions
filtered_df = df[df["Case Number"].str.contains("-RC-")].copy()

In [7]:
## Get info for filtered dataset
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40370 entries, 1 to 53783
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      40370 non-null  object
 1   Case Number               40370 non-null  object
 2   City                      40367 non-null  object
 3   States & Territories      40370 non-null  object
 4   Date Filed                40370 non-null  object
 5   Region Assigned           40370 non-null  object
 6   Status                    40370 non-null  object
 7   Date Closed               39770 non-null  object
 8   Reason Closed             39758 non-null  object
 9   No. of Eligible Voters    25792 non-null  float64
 10  No. of Employees          40179 non-null  float64
 11  Certified Representative  18587 non-null  object
 12  Unit Sought               37984 non-null  object
dtypes: float64(2), object(11)
memory usage: 4.3+ MB

In [8]:
## Get info from filtered dataset
filtered_df.tail()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
53779,"Laidlaw Waste Management Systems, Inc.",07-RC-019141,Columbus,OH,11/17/1989,"Region 07, Detroit, Michigan",Closed,06/11/2008,Withdrawal Non-adjusted,NaN,26.0,NaN,Included: All full and part time hourly emplo...
53780,"Daniel F. Allen & Co., Inc.",29-RC-006979,Hicksville,NY,04/15/1988,"Region 29, Brooklyn, New York",Closed,01/08/2008,Withdrawal Non-adjusted,NaN,25.0,NaN,Included: All chauffeurs and helpers\n\nExclu...
53781,New Brighton Manor Care Center,29-RC-006560,STATEN ISLAND,NY,04/21/1986,"Region 29, Brooklyn, New York",Closed,07/11/2007,Withdrawal Non-adjusted,NaN,NaN,NaN,NaN
53782,"Northwind Maintenance & Painting Co., Inc.",29-RC-006343,New York,NY,02/19/1985,"Region 29, Brooklyn, New York",Closed,02/21/2007,Withdrawal Non-adjusted,NaN,15.0,NaN,NaN
53783,"B. R. B. Iron Works, Inc.",29-RC-006167,CORONA,NY,05/07/1984,"Region 29, Brooklyn, New York",Closed,09/10/2007,Withdrawal Non-adjusted,NaN,12.0,NaN,NaN

In [9]:
## Filter df by date filed
filtered_df['Date Filed'] = pd.to_datetime(filtered_df['Date Filed'], errors='coerce')

In [10]:
filtered_df

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
1,"BUCKEYE STATE SEEDING, INC.",09-RC-363492,Williamsport,OH,2025-04-10,"Region 09, Cincinnati, Ohio",Open,NaN,NaN,NaN,2.0,NaN,Included: Administrative/clerical.\n\nExcluded...
2,"Westerly Ambulance Corps, Inc.",01-RC-363485,Westerly,RI,2025-04-10,"Region 01, Boston, Massachusetts",Open,NaN,NaN,NaN,16.0,NaN,"Included: All full-time, part-time, and per-di..."
3,Oldcastle BuildingEnvelope,04-RC-363490,Moorestown,NJ,2025-04-10,"Region 04, Philadelphia, Pennsylvania",Open,NaN,NaN,NaN,7.0,NaN,INCLUDED: All full-time and regular part-time ...
5,The Davey Tree Expert Company,15-RC-363477,Huntingdon,TN,2025-04-10,"Region 15, New Orleans, Louisiana",Open,NaN,NaN,NaN,12.0,NaN,"Included: Foreman, Trimmer, Ground person/Gro..."
6,Uptown Care Center,13-RC-363519,Chicago,IL,2025-04-10,"Region 13, Chicago, Illinois",Open,NaN,NaN,NaN,33.0,NaN,Included: All Full-time and regular part-time ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53779,"Laidlaw Waste Management Systems, Inc.",07-RC-019141,Columbus,OH,1989-11-17,"Region 07, Detroit, Michigan",Closed,06/11/2008,Withdrawal Non-adjusted,NaN,26.0,NaN,Included: All full and part time hourly emplo...
53780,"Daniel F. Allen & Co., Inc.",29-RC-006979,Hicksville,NY,1988-04-15,"Region 29, Brooklyn, New York",Closed,01/08/2008,Withdrawal Non-adjusted,NaN,25.0,NaN,Included: All chauffeurs and helpers\n\nExclu...
53781,New Brighton Manor Care Center,29-RC-006560,STATEN ISLAND,NY,1986-04-21,"Region 29, Brooklyn, New York",Closed,07/11/2007,Withdrawal Non-adjusted,NaN,NaN,NaN,NaN
53782,"Northwind Maintenance & Painting Co., Inc.",29-RC-006343,New York,NY,1985-02-19,"Region 29, Brooklyn, New York",Closed,02/21/2007,Withdrawal Non-adjusted,NaN,15.0,NaN,NaN
53783,"B. R. B. Iron Works, Inc.",29-RC-006167,CORONA,NY,1984-05-07,"Region 29, Brooklyn, New York",Closed,09/10/2007,Withdrawal Non-adjusted,NaN,12.0,NaN,NaN

In [11]:
## Filter df by FY 2021 - 2024

date_filed_df = filtered_df.query("(@pd.to_datetime('2020-10-01') <= `Date Filed` <= @pd.to_datetime('2021-09-30')) or \
     (@pd.to_datetime('2021-10-01') <= `Date Filed` <= @pd.to_datetime('2022-09-30')) or \
     (@pd.to_datetime('2022-10-01') <= `Date Filed` <= @pd.to_datetime('2023-09-30')) or \
     (@pd.to_datetime('2023-10-01') <= `Date Filed` <= @pd.to_datetime('2024-09-30'))"
)

In [12]:
## Get info on new dataset - #s do not match NLRB reports, so something went wrong
date_filed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7827 entries, 1438 to 11460
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      7827 non-null   object
 1   Case Number               7827 non-null   object
 2   City                      7825 non-null   object
 3   States & Territories      7827 non-null   object
 4   Date Filed                7827 non-null   datetime64[ns]
 5   Region Assigned           7827 non-null   object
 6   Status                    7827 non-null   object
 7   Date Closed               7562 non-null   object
 8   Reason Closed             7562 non-null   object
 9   No. of Eligible Voters    5844 non-null   float64
 10  No. of Employees          7827 non-null   float64
 11  Certified Representative  4664 non-null   object
 12  Unit Sought               7714 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 856.1+ KB

In [13]:
## Put 2021 - 2024 into dataframes
## First try: df_2021 = date_filed_df[date_filed_df["Date Filed"].dt.date (2022-09-30) <= 'Date Filed' <= (2021-10-01)]
## Second try

df_2021 = date_filed_df[
    (date_filed_df["Date Filed"] >= "2020-10-01") & (date_filed_df["Date Filed"] <= "2021-09-30")].copy()
df_2022 = date_filed_df[
    (date_filed_df["Date Filed"] >= "2021-10-01") & (date_filed_df["Date Filed"] <= "2022-09-30")].copy()
df_2023 = date_filed_df[
    (date_filed_df["Date Filed"] >= "2022-10-01") & (date_filed_df["Date Filed"] <= "2023-09-30")].copy()
df_2024 = date_filed_df[
    (date_filed_df["Date Filed"] >= "2023-10-01") & (date_filed_df["Date Filed"] <= "2024-09-30")].copy()

In [14]:
## Get info on df_2021
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1269 entries, 9827 to 11460
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      1269 non-null   object
 1   Case Number               1269 non-null   object
 2   City                      1269 non-null   object
 3   States & Territories      1269 non-null   object
 4   Date Filed                1269 non-null   datetime64[ns]
 5   Region Assigned           1269 non-null   object
 6   Status                    1269 non-null   object
 7   Date Closed               1261 non-null   object
 8   Reason Closed             1261 non-null   object
 9   No. of Eligible Voters    926 non-null    float64
 10  No. of Employees          1269 non-null   float64
 11  Certified Representative  722 non-null    object
 12  Unit Sought               1236 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 138.8+ KB

In [15]:
## Get info for 2022
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2072 entries, 7316 to 9826
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2072 non-null   object
 1   Case Number               2072 non-null   object
 2   City                      2072 non-null   object
 3   States & Territories      2072 non-null   object
 4   Date Filed                2072 non-null   datetime64[ns]
 5   Region Assigned           2072 non-null   object
 6   Status                    2072 non-null   object
 7   Date Closed               2046 non-null   object
 8   Reason Closed             2046 non-null   object
 9   No. of Eligible Voters    1571 non-null   float64
 10  No. of Employees          2072 non-null   float64
 11  Certified Representative  1226 non-null   object
 12  Unit Sought               2052 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 226.6+ KB

In [16]:
## Get info for 2023
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2115 entries, 4723 to 7315
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2115 non-null   object
 1   Case Number               2115 non-null   object
 2   City                      2113 non-null   object
 3   States & Territories      2115 non-null   object
 4   Date Filed                2115 non-null   datetime64[ns]
 5   Region Assigned           2115 non-null   object
 6   Status                    2115 non-null   object
 7   Date Closed               2045 non-null   object
 8   Reason Closed             2045 non-null   object
 9   No. of Eligible Voters    1578 non-null   float64
 10  No. of Employees          2115 non-null   float64
 11  Certified Representative  1306 non-null   object
 12  Unit Sought               2086 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 231.3+ KB

In [17]:
## Get info on 2024
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2371 entries, 1438 to 4719
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2371 non-null   object
 1   Case Number               2371 non-null   object
 2   City                      2371 non-null   object
 3   States & Territories      2371 non-null   object
 4   Date Filed                2371 non-null   datetime64[ns]
 5   Region Assigned           2371 non-null   object
 6   Status                    2371 non-null   object
 7   Date Closed               2210 non-null   object
 8   Reason Closed             2210 non-null   object
 9   No. of Eligible Voters    1769 non-null   float64
 10  No. of Employees          2371 non-null   float64
 11  Certified Representative  1410 non-null   object
 12  Unit Sought               2340 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 259.3+ KB

In [18]:
## call the head for 2021
df_2021.head()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
9827,Albertsons LLC,19-RC-283726,Medford,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,12/13/2021,Dismissal Non-adjusted,NaN,5.0,NaN,Included: All pharmacy clerk and tech employee...
9828,Albertsons LLC,19-RC-283727,Portland,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,01/24/2022,Dismissal Non-adjusted,NaN,1.0,NaN,Included: All pharmacy clerk and tech employee...
9829,"Safeway, Inc.",19-RC-283728,Portland,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,01/24/2022,Dismissal Non-adjusted,NaN,4.0,NaN,Included: All pharmacy clerk and tech employee...
9830,"JSW Steel USA Ohio, Inc.",08-RC-283641,Mingo Junction,OH,2021-09-29,"Region 08, Cleveland, Ohio",Closed,11/04/2021,Withdrawal Adjusted,NaN,175.0,NaN,All full and regular part time production and ...
9834,"Midwest Paper Retriever, LLC",13-RC-283661,Joliet,IL,2021-09-29,"Region 13, Chicago, Illinois",Closed,12/03/2021,Certification of Results,3.0,3.0,NaN,Included: Full time and regular part time driv...

In [19]:
## put all years in a df
##df_2020s = date_filed_df[date_filed_df["Date Filed"].dt.year.isin([2020, 2021, 2022, 2023, 2024])]
## not yet sorted by FISCAL year

In [20]:
## realized I need a simpler table with just the number of filings per year

## df_2020s.groupby("Case Number")["Date Filed"].sum().to_frame("Filings")
## didn't work because can't group by dates

In [21]:
## instead created a new column in the individual year dfs

df_2021["Fiscal Year"] = 2021
df_2022["Fiscal Year"] = 2022
df_2023["Fiscal Year"] = 2023
df_2024["Fiscal Year"] = 2024

In [22]:
## see if it worked
df_2021

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought,Fiscal Year
9827,Albertsons LLC,19-RC-283726,Medford,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,12/13/2021,Dismissal Non-adjusted,NaN,5.0,NaN,Included: All pharmacy clerk and tech employee...,2021
9828,Albertsons LLC,19-RC-283727,Portland,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,01/24/2022,Dismissal Non-adjusted,NaN,1.0,NaN,Included: All pharmacy clerk and tech employee...,2021
9829,"Safeway, Inc.",19-RC-283728,Portland,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,01/24/2022,Dismissal Non-adjusted,NaN,4.0,NaN,Included: All pharmacy clerk and tech employee...,2021
9830,"JSW Steel USA Ohio, Inc.",08-RC-283641,Mingo Junction,OH,2021-09-29,"Region 08, Cleveland, Ohio",Closed,11/04/2021,Withdrawal Adjusted,NaN,175.0,NaN,All full and regular part time production and ...,2021
9834,"Midwest Paper Retriever, LLC",13-RC-283661,Joliet,IL,2021-09-29,"Region 13, Chicago, Illinois",Closed,12/03/2021,Certification of Results,3.0,3.0,NaN,Included: Full time and regular part time driv...,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11455,"Newark Public Radio Inc., D/B/A WBGO",22-RC-266935,Newark,NJ,2020-10-01,"Region 22, Newark, New Jersey",Closed,10/22/2020,Withdrawal Non-adjusted,NaN,22.0,NaN,Included: All full-time and regular part-time...,2021
11456,"Joe Heidt Motors Corp., Volkswagen",22-RC-266964,Ramsey,NJ,2020-10-01,"Region 22, Newark, New Jersey",Closed,10/14/2020,Withdrawal Non-adjusted,NaN,10.0,NaN,Included: All full time and regular part-time ...,2021
11458,"Gallo Mechanical, LLC",10-RC-266983,Charlotte,NC,2020-10-01,"Region 10, Atlanta, Georgia",Closed,12/29/2020,Withdrawal Non-adjusted,NaN,2.0,NaN,Included: All full-time and regular part-time ...,2021
11459,"Gallo Mechanical, LLC and Hard Hat Workforce S...",10-RC-267002,Charlotte,NC,2020-10-01,"Region 10, Atlanta, Georgia",Closed,10/20/2020,Withdrawal Non-adjusted,NaN,6.0,NaN,Included: All full-time and regular part-time...,2021
11460,"First Student, Inc.",32-RC-266955,San Jose,CA,2020-10-01,"Region 32, Oakland, California",Closed,11/09/2020,Certific. of Representative,3.0,3.0,MACHINISTS AUTOMOTIVE TRADES DISTRICT LODGE 19...,Included: All full-time and regular part-time ...,2021

In [23]:
## create new df with 2021-2024 and call it

all_years_df = pd.concat([df_2021, df_2022, df_2023, df_2024], ignore_index=True)
all_years_df

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought,Fiscal Year
0,Albertsons LLC,19-RC-283726,Medford,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,12/13/2021,Dismissal Non-adjusted,NaN,5.0,NaN,Included: All pharmacy clerk and tech employee...,2021
1,Albertsons LLC,19-RC-283727,Portland,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,01/24/2022,Dismissal Non-adjusted,NaN,1.0,NaN,Included: All pharmacy clerk and tech employee...,2021
2,"Safeway, Inc.",19-RC-283728,Portland,OR,2021-09-30,"Region 19, Seattle, Washington",Closed,01/24/2022,Dismissal Non-adjusted,NaN,4.0,NaN,Included: All pharmacy clerk and tech employee...,2021
3,"JSW Steel USA Ohio, Inc.",08-RC-283641,Mingo Junction,OH,2021-09-29,"Region 08, Cleveland, Ohio",Closed,11/04/2021,Withdrawal Adjusted,NaN,175.0,NaN,All full and regular part time production and ...,2021
4,"Midwest Paper Retriever, LLC",13-RC-283661,Joliet,IL,2021-09-29,"Region 13, Chicago, Illinois",Closed,12/03/2021,Certification of Results,3.0,3.0,NaN,Included: Full time and regular part time driv...,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7822,"RAINBOW BLOSSOM, INC.",09-RC-327110,Louisville,KY,2023-10-02,"Region 09, Cincinnati, Ohio",Closed,07/24/2024,Certification of Results,45.0,40.0,NaN,Included: All regular full-time and part-time ...,2024
7823,Weyerhaeuser NR Company,20-RC-327065,Redding,CA,2023-10-02,"Region 20, San Francisco, California",Closed,11/16/2023,Certific. of Representative,6.0,7.0,Teamsters Local 137,Included: All full time and part time forklift...,2024
7824,Gared Graphics,31-RC-327100,Camarillo,CA,2023-10-02,"Region 31, Los Angeles, California",Closed,10/05/2023,Withdrawal Non-adjusted,NaN,88.0,NaN,"Included: All pressmen, die makers, machine op...",2024
7825,"Conagra Foods Packaged Foods, LLC",25-RC-327091,Indianapolis,IN,2023-10-02,"Region 25, Indianapolis, Indiana",Closed,11/20/2023,Certific. of Representative,21.0,25.0,"United Food and Commercial Workers, Local 700",Included: All full-time and part-time maintena...,2024
7826,Starbucks Corporation,14-RC-327075,Midwest City,OK,2023-10-02,"Region 14, Saint Louis, Missouri",Closed,11/21/2023,Certific. of Representative,17.0,19.0,Workers United a/w SEIU,Included: All full-time & regular part-time Ba...,2024

In [24]:
## create new df that groups by Fiscal Year column
## df.groupby("School Type")["dl_sub_$"].sum().to_frame("total $ sub DL")
all_years_df.groupby("Fiscal Year")["Fiscal Year"].count().to_frame("NLRB Filings")

             NLRB Filings
Fiscal Year
2021                 1269
2022                 2072
2023                 2115
2024                 2371

In [25]:
## export table
## all_years_df.to_csv("NLRB_recent.csv")
## Got back the whole original df!

In [26]:
## Exported JUST the table

summary = all_years_df.groupby("Fiscal Year")["Fiscal Year"].count().to_frame("NLRB Filings")
summary.to_csv("nlrb_summary.csv")