import library

import data

filter for Trader Joe's

create a table that shows complaints against Trader Joe's by year

export new df

In [5]:
# import library 

import pandas as pd

In [7]:
# import data

df = pd.read_csv("data_raw/ULP_all_2017-2024.csv")
df

       Date Filed                                          Case Name
0         9/30/24                             Menehune Water Company
1         9/30/24                          Amazon.com Services, Inc.
2         9/30/24                                           Mohr Oil
3         9/30/24                       United States Postal Service
4         9/30/24                       UNITED STATES POSTAL SERVICE
...           ...                                                ...
127561    10/2/17                                General Motors, LLC
127562    10/2/17  Local 163, International Union, United Automob...
127563    10/2/17                         Legal Aid of West Virginia
127564    10/2/17                       United States Postal Service
127565    10/2/17                       Cadillac of Naperville, Inc.

[127566 rows x 2 columns]

In [9]:
# get info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127566 entries, 0 to 127565
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date Filed  127566 non-null  object
 1   Case Name   127566 non-null  object
dtypes: object(2)
memory usage: 1.9+ MB

In [11]:
## call head

df.head()

  Date Filed                     Case Name
0    9/30/24        Menehune Water Company
1    9/30/24     Amazon.com Services, Inc.
2    9/30/24                      Mohr Oil
3    9/30/24  United States Postal Service
4    9/30/24  UNITED STATES POSTAL SERVICE

In [15]:
## convert to date time format

df["Date Filed"] = pd.to_datetime(df["Date Filed"])

In [17]:
## sort for Trader Joe's, call it

TJ = df[df['Case Name'].str.contains("Trader Joe", na=False)]
TJ

       Date Filed               Case Name
341    2024-09-25            Trader Joe's
414    2024-09-24            Trader Joe's
3705   2024-08-01       Trader Joe's East
3758   2024-08-01       Trader Joe's East
3811   2024-07-31       Trader Joe's East
...           ...                     ...
68239  2021-03-04  Trader Joes East, Inc.
68533  2021-02-26            Trader Joe's
79130  2020-06-11            Trader Joe's
98159  2019-04-22            Trader Joe's
120390 2018-02-21            Trader Joe's

[141 rows x 2 columns]

In [19]:
## examine

TJ.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 341 to 120390
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date Filed  141 non-null    datetime64[ns]
 1   Case Name   141 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 3.3+ KB

In [21]:
## With help from AI, made a copy (because it's a slice):

TJ = TJ.copy()

In [23]:
## cut up TJ by FY 2018 - 2024 

df_2019 = TJ[
    (TJ["Date Filed"] >= "2018-10-01") & (TJ["Date Filed"] <= "2019-09-30")].copy()
df_2020 = TJ[
    (TJ["Date Filed"] >= "2019-10-01") & (TJ["Date Filed"] <= "2020-09-30")].copy()
df_2021 = TJ[
    (TJ["Date Filed"] >= "2020-10-01") & (TJ["Date Filed"] <= "2021-09-30")].copy()
df_2022 = TJ[
    (TJ["Date Filed"] >= "2021-10-01") & (TJ["Date Filed"] <= "2022-09-30")].copy()
df_2023 = TJ[
    (TJ["Date Filed"] >= "2022-10-01") & (TJ["Date Filed"] <= "2023-09-30")].copy()
df_2024 = TJ[
    (TJ["Date Filed"] >= "2023-10-01") & (TJ["Date Filed"] <= "2024-09-30")].copy()

In [35]:
## count cases per fy

print("Trader Joe's cases in FY2019:", len(df_2019))
print("Trader Joe's cases in FY2020:", len(df_2020))
print("Trader Joe's cases in FY2021:", len(df_2021))
print("Trader Joe's cases in FY2022:", len(df_2021))
print("Trader Joe's cases in FY2023:", len(df_2023))
print("Trader Joe's cases in FY2024:", len(df_2024))

Trader Joe's cases in FY2019: 1
Trader Joe's cases in FY2020: 1
Trader Joe's cases in FY2021: 3
Trader Joe's cases in FY2022: 3
Trader Joe's cases in FY2023: 69
Trader Joe's cases in FY2024: 45

In [39]:
## Used AI to create a table

summary_TJ = pd.DataFrame({
    'Fiscal Year': ['2019', '2020', '2021', '2022', '2023', '2024'],
    'Instances': [
        len(df_2019),
        len(df_2020),
        len(df_2021),
        len(df_2022),
        len(df_2023),
        len(df_2024)
    ]
})

print(summary_TJ)

  Fiscal Year  Instances
0        2019          1
1        2020          1
2        2021          3
3        2022         21
4        2023         69
5        2024         45

In [41]:
## sort for Starbucks, call it

Starbucks = df[df['Case Name'].str.contains("Starbucks", na=False)]
Starbucks

       Date Filed                 Case Name
3631   2024-08-02     Starbucks Corporation
6730   2024-06-10     Starbucks Corporation
10312  2024-04-11     Starbucks Corporation
10367  2024-04-10     Starbucks Corporation
10370  2024-04-10     Starbucks Corporation
...           ...                       ...
87345  2019-11-25  Starbucks Coffee Company
106757 2018-11-05                 Starbucks
109285 2018-09-19                 Starbucks
111026 2018-08-16                 Starbucks
111845 2018-08-02                 Starbucks

[1085 rows x 2 columns]

In [43]:
## examine

Starbucks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1085 entries, 3631 to 111845
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date Filed  1085 non-null   datetime64[ns]
 1   Case Name   1085 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 25.4+ KB

In [45]:
## With help from AI, made a copy (because it's a slice):

Starbucks = Starbucks.copy()

In [47]:
## cut up TJ by FY 2018 - 2024 

Starbucks_2019 = Starbucks[
    (Starbucks["Date Filed"] >= "2018-10-01") & (Starbucks["Date Filed"] <= "2019-09-30")].copy()
Starbucks_2020 = Starbucks[
    (Starbucks["Date Filed"] >= "2019-10-01") & (Starbucks["Date Filed"] <= "2020-09-30")].copy()
Starbucks_2021 = Starbucks[
    (Starbucks["Date Filed"] >= "2020-10-01") & (Starbucks["Date Filed"] <= "2021-09-30")].copy()
Starbucks_2022 = Starbucks[
    (Starbucks["Date Filed"] >= "2021-10-01") & (Starbucks["Date Filed"] <= "2022-09-30")].copy()
Starbucks_2023 = Starbucks[
    (Starbucks["Date Filed"] >= "2022-10-01") & (Starbucks["Date Filed"] <= "2023-09-30")].copy()
Starbucks_2024 = Starbucks[
    (Starbucks["Date Filed"] >= "2023-10-01") & (Starbucks["Date Filed"] <= "2024-09-30")].copy()

In [49]:
## count cases per fy

print("Starbucks cases in FY2019:", len(Starbucks_2019))
print("Starbucks cases in FY2020:", len(Starbucks_2020))
print("Starbucks cases in FY2021:", len(Starbucks_2021))
print("Starbucks cases in FY2022:", len(Starbucks_2022))
print("Starbucks cases in FY2023:", len(Starbucks_2023))
print("Starbucks cases in FY2024:", len(Starbucks_2024))

Starbucks cases in FY2019: 1
Starbucks cases in FY2020: 11
Starbucks cases in FY2021: 5
Starbucks cases in FY2022: 367
Starbucks cases in FY2023: 545
Starbucks cases in FY2024: 153

In [55]:
## Used AI to create a table

summary_SB = pd.DataFrame({
    'Fiscal Year': ['2019', '2020', '2021', '2022', '2023', '2024'],
    'Instances': [
        len(Starbucks_2019),
        len(Starbucks_2020),
        len(Starbucks_2021),
        len(Starbucks_2022),
        len(Starbucks_2023),
        len(Starbucks_2024)
    ]
})

print(summary_SB)

  Fiscal Year  Instances
0        2019          1
1        2020         11
2        2021          5
3        2022        367
4        2023        545
5        2024        153

In [57]:
# Rename columns in tables for Trader Joe's

summary_TJ = summary_TJ.rename(columns={"Instances": "Trader Joe's"})
summary_TJ

  Fiscal Year  Trader Joe's
0        2019             1
1        2020             1
2        2021             3
3        2022            21
4        2023            69
5        2024            45

In [59]:
## repeat for Starbucks

summary_SB = summary_SB.rename(columns={"Instances": "Starbucks"})
summary_SB

  Fiscal Year  Starbucks
0        2019          1
1        2020         11
2        2021          5
3        2022        367
4        2023        545
5        2024        153

In [61]:
## combine

combined = pd.merge(summary_TJ, summary_SB, on='Fiscal Year')

In [63]:
## print and export
print(combined)
combined.to_csv('combined_fy_summary.csv', index=False)

  Fiscal Year  Trader Joe's  Starbucks
0        2019             1          1
1        2020             1         11
2        2021             3          5
3        2022            21        367
4        2023            69        545
5        2024            45        153

In [67]:
## sort for Amazon, call it

Amazon = df[df['Case Name'].str.contains("Amazon", na=False)]
Amazon

       Date Filed                                          Case Name
1      2024-09-30                          Amazon.com Services, Inc.
167    2024-09-27       Amazon.com services LLC and Amazon Logistics
367    2024-09-25  International Brotherhood of Teamsters, Teamst...
393    2024-09-24      Amazon.com Services, LLC and Amazon Logistics
415    2024-09-24                               Amazon DAL 3 Company
...           ...                                                ...
119353 2018-03-12                                         Amazon.com
119571 2018-03-08                          Amazon Fulfillment Center
124983 2017-11-17                                         Amazon.com
125879 2017-11-01                                   Amazon.dedc, LLC
127201 2017-10-10  Silverstar Delivery LTD, Gold Standard Transpo...

[588 rows x 2 columns]

In [69]:
## cut up Amazon by FY 2018 - 2024 

Amazon_2019 = Amazon[
    (Amazon["Date Filed"] >= "2018-10-01") & (Amazon["Date Filed"] <= "2019-09-30")].copy()
Amazon_2020 = Amazon[
    (Amazon["Date Filed"] >= "2019-10-01") & (Amazon["Date Filed"] <= "2020-09-30")].copy()
Amazon_2021 = Amazon[
    (Amazon["Date Filed"] >= "2020-10-01") & (Amazon["Date Filed"] <= "2021-09-30")].copy()
Amazon_2022 = Amazon[
    (Amazon["Date Filed"] >= "2021-10-01") & (Amazon["Date Filed"] <= "2022-09-30")].copy()
Amazon_2023 = Amazon[
    (Amazon["Date Filed"] >= "2022-10-01") & (Amazon["Date Filed"] <= "2023-09-30")].copy()
Amazon_2024 = Amazon[
    (Amazon["Date Filed"] >= "2023-10-01") & (Amazon["Date Filed"] <= "2024-09-30")].copy()

In [71]:
## examine

Amazon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 588 entries, 1 to 127201
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date Filed  588 non-null    datetime64[ns]
 1   Case Name   588 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 13.8+ KB

In [73]:
## count cases per fy

print("Amazon cases in FY2019:", len(Amazon_2019))
print("Amazon cases in FY2020:", len(Amazon_2020))
print("Amazon cases in FY2021:", len(Amazon_2021))
print("Amazon cases in FY2022:", len(Amazon_2022))
print("Amazon cases in FY2023:", len(Amazon_2023))
print("Amazon cases in FY2024:", len(Amazon_2024))

Amazon cases in FY2019: 10
Amazon cases in FY2020: 30
Amazon cases in FY2021: 35
Amazon cases in FY2022: 166
Amazon cases in FY2023: 171
Amazon cases in FY2024: 170

In [77]:
## Used AI to create a table

summary_Amazon = pd.DataFrame({
    'Fiscal Year': ['2019', '2020', '2021', '2022', '2023', '2024'],
    'Instances': [
        len(Amazon_2019),
        len(Amazon_2020),
        len(Amazon_2021),
        len(Amazon_2022),
        len(Amazon_2023),
        len(Amazon_2024)
    ]
})

print(summary_Amazon)

  Fiscal Year  Instances
0        2019         10
1        2020         30
2        2021         35
3        2022        166
4        2023        171
5        2024        170

In [79]:
## rename Amazon instances column

summary_Amazon = summary_Amazon.rename(columns={'Instances': 'Amazon'})
summary_Amazon

  Fiscal Year  Amazon
0        2019      10
1        2020      30
2        2021      35
3        2022     166
4        2023     171
5        2024     170

In [81]:
## combine

combined = pd.merge(combined, summary_Amazon, on = 'Fiscal Year')
print(combined)

  Fiscal Year  Trader Joe's  Starbucks  Amazon
0        2019             1          1      10
1        2020             1         11      30
2        2021             3          5      35
3        2022            21        367     166
4        2023            69        545     171
5        2024            45        153     170

In [83]:
## export

combined.to_csv('combined_ULP_complaints.csv', index=False)

In [85]:
## add a column with the overall count

df.count

<bound method DataFrame.count of        Date Filed                                          Case Name
0      2024-09-30                             Menehune Water Company
1      2024-09-30                          Amazon.com Services, Inc.
2      2024-09-30                                           Mohr Oil
3      2024-09-30                       United States Postal Service
4      2024-09-30                       UNITED STATES POSTAL SERVICE
...           ...                                                ...
127561 2017-10-02                                General Motors, LLC
127562 2017-10-02  Local 163, International Union, United Automob...
127563 2017-10-02                         Legal Aid of West Virginia
127564 2017-10-02                       United States Postal Service
127565 2017-10-02                       Cadillac of Naperville, Inc.

[127566 rows x 2 columns]>

In [87]:
## cut up all cases by FY 2018 - 2023

all_2019 = df[
    (df["Date Filed"] >= "2018-10-01") & (df["Date Filed"] <= "2019-09-30")].copy()
all_2020 = df[
    (df["Date Filed"] >= "2019-10-01") & (df["Date Filed"] <= "2020-09-30")].copy()
all_2021 = df[
    (df["Date Filed"] >= "2020-10-01") & (df["Date Filed"] <= "2021-09-30")].copy()
all_2022 = df[
    (df["Date Filed"] >= "2021-10-01") & (df["Date Filed"] <= "2022-09-30")].copy()
all_2023 = df[
    (df["Date Filed"] >= "2022-10-01") & (df["Date Filed"] <= "2023-09-30")].copy()
all_2024 = df[
    (df["Date Filed"] >= "2023-10-01") & (df["Date Filed"] <= "2024-09-30")].copy()

In [89]:
## count cases per fy

print("All cases in FY2019:", len(all_2019))
print("All cases in FY2020:", len(all_2020))
print("All cases in FY2021:", len(all_2021))
print("All cases in FY2022:", len(all_2022))
print("All cases in FY2023:", len(all_2023))
print("All cases in FY2024:", len(all_2024))

All cases in FY2019: 18546
All cases in FY2020: 15868
All cases in FY2021: 15082
All cases in FY2022: 18002
All cases in FY2023: 19892
All cases in FY2024: 21311

In [91]:
## Used AI to create a table

summary_all = pd.DataFrame({
    'Fiscal Year': ['2019', '2020', '2021', '2022', '2023', '2024'],
    'Instances': [
        len(all_2019),
        len(all_2020),
        len(all_2021),
        len(all_2022),
        len(all_2023),
        len(all_2024)
    ]
})

print(summary_all)

  Fiscal Year  Instances
0        2019      18546
1        2020      15868
2        2021      15082
3        2022      18002
4        2023      19892
5        2024      21311

In [93]:
## rename all instances column

summary_all = summary_all.rename(columns={'Instances': 'All Cases'})
summary_all

  Fiscal Year  All Cases
0        2019      18546
1        2020      15868
2        2021      15082
3        2022      18002
4        2023      19892
5        2024      21311

In [95]:
combined = pd.merge(combined, summary_all, on = 'Fiscal Year')
print(combined)

  Fiscal Year  Trader Joe's  Starbucks  Amazon  All Cases
0        2019             1          1      10      18546
1        2020             1         11      30      15868
2        2021             3          5      35      15082
3        2022            21        367     166      18002
4        2023            69        545     171      19892
5        2024            45        153     170      21311

In [97]:
## move columns

combined = combined[['Fiscal Year', 'All Cases',"Trader Joe's", 'Starbucks', 'Amazon']]
print(combined)

  Fiscal Year  All Cases  Trader Joe's  Starbucks  Amazon
0        2019      18546             1          1      10
1        2020      15868             1         11      30
2        2021      15082             3          5      35
3        2022      18002            21        367     166
4        2023      19892            69        545     171
5        2024      21311            45        153     170

In [99]:
## export

combined.to_csv('all_ULP_complaints.csv', index=False)