In [2]:
## import pandas

import pandas as pd

In [6]:
## import data

df = pd.read_csv("data_raw/BLS-23_24.csv")

In [10]:
## get info 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Characteristic  40 non-null     object
 1   2023            39 non-null     object
 2   2024            38 non-null     object
 3   Unnamed: 3      38 non-null     object
 4   Unnamed: 4      37 non-null     object
 5   Unnamed: 5      39 non-null     object
 6   Unnamed: 6      38 non-null     object
 7   Unnamed: 7      38 non-null     object
 8   Unnamed: 8      36 non-null     object
dtypes: object(9)
memory usage: 3.5+ KB

In [12]:
## Examine head

df.head()

,Characteristic,2023,2024,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Total,Members,Represented,Non-,Total,Members,Represented,Non-,NaN
1,NaN,of,by unions(2),union(3),NaN,of,by unions(2),union(3),NaN
2,NaN,unions(1),NaN,NaN,NaN,unions(1),NaN,NaN,NaN
3,AGE AND SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Total, 16 years and over","$1,117","$1,263","$1,253","$1,090","$1,159","$1,337","$1,320","$1,138"